{{#each blogs as |blog| }}
<div class="text-center">
  <div>
    <a href="/blogs/{{id}}"><h2>{{blog.title}}</h2></a>
    <p>Author: {{blog_author.username}}</p>
    <p>Created: {{format_date blog.date_created}}</p>
  </div>
</div>
{{/each}}