<div class="row">
  <div class="col-4"></div>
  <div class="text-center mt-3 pt-3 border col-4">
    <p>From: {{comment_author.username}}</p>
    <p>{{content}}</p>
    {{#if (is_equal ../../user_id comment_author.id)}}
      <h2>We did it!</h2>
    {{/if}}
  </div>
  <div class="col-4"></div>
</div>