{{#each blogComments as |comment| }}
<div class="row">
  <div class="col-4"></div>
  <div class="text-center mt-3 pt-3 border col-4">
    <p>From: {{comment.comment_author.username}}</p>
    <p>{{comment.content}}</p>
  </div>
  <div class="col-4"></div>
</div>
{{/each}}