{{#each blogComments as |comment| }}
<div class="row">
  <div class="col-4"></div>
  <div class="text-center mt-3 pt-3 border col-4">
    <p>Author: {{comment.user_id}}</p>
    <p>{{comment.content}}</p>
    <button class="btn btn-danger mb-3 delete-comment" value={{comment.id}} onClick="deleteComment(this)">Delete</button>
  </div>
  <div class="col-4"></div>
</div>
{{/each}}