<nav class="d-flex flex-column align-items-center mt-3 flex-md-row justify-content-md-center">
    <a href="/">Home</a>
    {{#if logged_in}}
    <a href="" id="logout" class="ml-md-3">Log Out</a>
    {{/if}}
    {{#unless logged_in}}
    <a href="/login" class="ml-md-3">Log In</a>
    {{/unless}}
    <a href="/dashboard" class="ml-md-3">Dashboard</a>
</nav>