<nav>
    <a href="/">Home</a>
    {{#if logged_in}}
    <a href="" id="logout">Log Out</a>
    {{/if}}
    {{#unless logged_in}}
    <a href="/login">Log In</a>
    {{/unless}}
    <a href="/dashboard/{{user_id}}">Dashboard</a>
</nav>