{{!-- <link rel="stylesheet" type="text/css" href="/css/nav.css"> --}}

<nav class="mt-sm-3 flex-row justify-content-end pb-2" id="nav" >
    <a href="/" class="mt-0 pr-2">Home</a>
    {{#if logged_in}}
    <a href="" id="logout" class="mt-0 pr-2">Log Out</a>
    {{/if}}
    {{#unless logged_in}}
    <a href="/login" class="mt-0 pr-2">Log In</a>
    {{/unless}}
    <a href="/dashboard" class="mt-0 mr-sm-2" id="dashboard">Dashboard</a>
</nav>