<nav>
      {{#if logged_in}}
      <button id="logout">Log Out</button>
      {{else}}
      <button id="login">Log In</button>
      <button id="signup">Sign Up</button>
       {{/if}}
       <a href="/dashboard/">Dashboard</a>
    </nav>