<div class="row">
  <div class="col-4"></div>
  <form class="col-4">
    <div class="form-group">
        <textarea class="form-control mt-4" id="comment-text" name="comment-text" rows="3" placeholder="Add a comment:" style="border: solid 1px rgba(104, 55, 182, 0.817);"></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" id="submit-comment" style="background-color: rgba(104, 55, 182, 0.817); border: rgba(104, 55, 182, 0.817);">Submit</button>
      </div>
  </form>
  <div class="col-4"></div>
</div>

<script src="/js/newComment.js"></script>