<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <h1>
      Site Name
    </h1>
    <!-- If the user is logged in, display the logout button-->
    <!-- make an intermediary login/signup page with link options for each -->
    <nav>
      <a href="/">Home</a>
      {{#if logged_in}}
      <a href="" id="logout">Log Out</a>
      {{else}}
      <a href="/login">Log In</a>
       {{/if}}
       <a href="/dashboard">Dashboard</a>
    </nav>
  </header>
  <main>
    {{{ body }}}
  </main>
  <!-- if logged in, connect the logout script -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
