<h2>{{singleBlogData.title}}</h2>
<p>Posted on: {{format_date singleBlogData.date_created}}</p>

<div>
  <p>{{singleBlogData.content}}</p>
</div>

<button href="/edit-blog">Edit</button>
<button href="/delete-blog">Delete</button>