
<div>
    <h2 class="text-center mt-4"><em style="border-bottom: solid 2px rgb(128, 128, 128);">{{user.username}}'s dashboard</em><h2>
</div>
<div class="text-center my-4 mt-5">
{{> createbtn}}
</div>
{{> userBlogs}}

