<a href="/">Home</a>
<section>
    <header>{{user.name}}</header>

    <div>
      <p>{{user.name}} Dashboard</p>
    </div>
</section>
<section>
    {{#each blogs as |blog| }}
<div>
  <div>
    <h2>{{blog.title}}</h2>
  </div>
</div>
{{/each}}
</section>