<section class="text-center mx-3 mt-4 welcome-body">
  <p>
    Welcome to <em>Iterable</em> - a blog community set up with the intention of allowing those new to coding to share their experiences and ideas as they embark on a new path.
  </p>
  <p>
    Feel free to browse various posts below. To create your own posts and comments, you'll need to register and/or log in.
  </p>
</section>

<section class="mt-4">
  {{> blog}}
</section>