<section class="text-center mx-3 mt-3">
  <p>
    Welcome to <em>Iterable</em> - a tech blog set up for the purpose of providing a space for those new to coding to share their experiences and ideas as they set out on a new path.
  </p>
  <p>
    Feel free to browse various posts below. To posy your own content, you'll need to register and/or log in.
  </p>
</section>

<section class="mt-5">
  {{> blog}}
</section>