<h1> This is the homepage</h1>
<a href="/dashboard/">Dashboard</a>
<a href="/login/">Log In</a>
{{#each blogs as |blog| }}
<div>
  <div>
    <h2>{{blog.title}}</h2>
  </div>
  <a href="/blog/{{id}}">
</div>
{{/each}}
