<div class="row mt-5">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="text-center mt-3">
      <h3>Log in</h3>
    </div>
    <form class="mt-4 login-form">
      <div class="form-group">
        <input type="text" class="form-control" id="email-login" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="text" class="form-control mt-1" id="password-login" name="password" placeholder="Password">
      </div>
      <div>
        <button type="submit" class="btn btn-primary btn-lg" id="login-btn">Login</button>
      </div>
      <div class="mt-2">
        <a href="/signup">Sign Up</a>
      </div>
    </form>
  </div>
  <div class="col-4"></div>
</div>

<script src="/js/login.js"></script>