<div>
  <div>
    <h3>Create a New Blog:</h3>

    <form>
      <div>
        <label for="blog-name">blog name:</label>
        <input type="text" id="blog-name" name="blog-name" />
      </div>
      <div>
        <label for="blog-content">content:</label>
        <textarea id="blog-content" name="blog-content" rows="5" cols="33"></textarea>
      </div>
      <div>
        <button type="submit" id="submit-blog">Create</button>
      </div>
    </form>
  </div>
</div>