<div class="row mt-5">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title text-center"><em>sign up</em></h3>
        <form class="mt-4 signup-form">
          <div class="form-group">
            <input type="text" class="form-control" id="username-signup" name="email" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="email-signup" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control mt-1" id="password-signup" name="password" placeholder="Password">
          </div>
          <div>
            <button type="submit" class="btn btn-primary"
              style="background-color: rgba(104, 55, 182, 0.817); border: rgba(104, 55, 182, 0.817);"
              id="login-btn">sign up</button>
          </div>
          <div class="mt-2">
            <a class="pl-1" href="/login" style="color: rgba(104, 55, 182, 0.817);"><em>log in</em></a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>

<script src="/js/register.js"></script>