<h2>{{singleBlogData.title}}</h2>
<h3>By: {{singleBlogData.blog_author.username}}</h3>
<p>Posted on: {{format_date singleBlogData.date_created}}</p>

<div>
  <p>{{singleBlogData.content}}</p>
</div>

{{> post-comment}}